{%  extends 'base.html.twig' %}

{% block body %}
    <h3 class="color-whrite text-center">Ajouter une nouvelle catégorie:</h3>
    <div class="col-4 text-center m-auto">
        {{ form(form) }}
    </div>


{% endblock %}