@import '~bootstrap/scss/bootstrap';

body {
    background-color: black;
}

$primary: darken(#428bca, 20%);
$theme-colors:(
        "primaire": black,
        "yell": yellow
);

$colors:(
        "primaire": black,
        "yell": yellow,
        "txt": white
);


.color-yell {
    color: yellow;
}

.color-whrite {
    color: white;
}