<nav class="navbar navbar-expand-lg bg-primaire border-bottom">
    <a class="navbar-brand " href="/">
        <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        <h1 class="color-yell">Wild Séries</h1>
    </a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">

                    <a class="nav-link dropdown-toggle color-whrite" href="/wild" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Séries
                    </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link color-whrite" href="#">Mes favoris <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link color-yell" href="#">Déconnexion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link color-whrite" href="#">John Doe</a>
            </li>

        </ul>
    </div>
</nav>